.title-text {
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}

/* Change at least two box model properties of any tag, class, or id.  */
/* Use a CSS selector to apply style(s) to at least one HTML tag. */
p {
    color: blue;
    font-size: 16px;
    padding: 20px;
    border: 3px solid blue;

}

/* Change at least two box model properties of any tag, class, or id.  */
/* Create at least one id, apply it to an element, and style it */
#unique-section {
    color: red;
    font-size: 16px;
    padding: 20px;
    width: 150px;
    height: 150px;
    border: 3px dotted blue;
}

/* Use a CSS selector to change the color of <a> when you hover the cursor over it. */
a:hover {
    color: red;
    margin: 10px;
    
  }